
span a:hover{
  color: black;
}

.logo {
  width: 40px;
  padding: 5px;
}

.container {
  min-height: 100vh;
  width: 600px;
  border: 1px solid grey;
}

form {
  width: 300px;
  box-shadow: 0px 0px 5px grey;
  border-radius: 5px;
  padding: 25px;
}

.btn {
  width: 100%;
}

input:valid+div {
  display: none;
}

input:invalid+div+div {
  display: none;
}

input + small +small {
  display: none;
}

input:valid + small {
   display: none;
}

input:valid + small + small {
  display: inline;
}

.container-box{
    width: 100%;
}

